body {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
}

h1, h2, h3, h4 {
  font-size: 2.5rem;
  font-family: "Signika Negative", sans-serif;
  font-weight: 600;
}

li {
  font-size: 1.25rem;
}

.button {
  border: none;
  border-radius: 2rem;
  box-shadow: 2px 2px 2px black;
  color: grey;
  font-size: 1.75rem;
  font-weight: 700;
}
.button:active {
  box-shadow: none;
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
  margin: 0 32px;
  background-color: linen;
}

header {
  background-color: white;
  min-height: 10vh;
  grid-column: 1/13;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: white;
  min-height: 80vh;
  grid-column: 1/13;
  grid-row: 2;
  gap: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > div {
  display: grid;
  gap: 1rem;
}

footer {
  background-color: white;
  min-height: 10vh;
  grid-column: 1/13;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3 {
  text-align: center;
}

.skills-layout {
  min-height: 30vh;
  width: 100%;
}

.skills {
  display: flex;
  justify-content: space-around;
}
.skills ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 0.75rem;
}
@media screen and (max-width: 650px) {
  .skills {
    flex-direction: column;
    gap: 3rem;
    width: 80vw;
  }
}

.game-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.game-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 600px;
  padding: 16px;
}
.game-layout section {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
@media screen and (max-width: 650px) {
  .game-layout {
    width: 400px;
  }
}

.the-game {
  display: flex;
  flex-direction: column;
}

.keyboard {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.keyboard div {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
}

.button {
  width: 250px;
  padding: 0.5rem;
}

.the-game {
  display: none;
  border: 5px solid grey;
}

.the-man {
  background-color: rgb(234, 230, 227);
  height: 350px;
  width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 650px) {
  .the-man {
    width: 400px;
  }
}
.the-man div {
  position: absolute;
  border: 1px solid black;
}

.ground {
  bottom: 50px;
  width: 200px;
}

.stick {
  height: 250px;
  bottom: 50px;
  left: 400px;
}

.hanger {
  top: 46px;
  right: 198px;
  width: 100px;
}

.rope {
  height: 35px;
  top: 46px;
}

.head {
  z-index: 2;
  top: 80px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgb(234, 230, 227);
}

.body {
  top: 100px;
  height: 100px;
}

.lArm {
  height: 40px;
  top: 130px;
  right: 285px;
  transform: rotate(135deg);
}

.rArm {
  height: 40px;
  top: 130px;
  left: 285px;
  transform: rotate(45deg);
}

.rFoot {
  height: 30px;
  top: 195px;
  left: 288px;
  transform: rotate(45deg);
}

.lFoot {
  height: 30px;
  top: 195px;
  right: 288px;
  transform: rotate(135deg);
}

.keyboard {
  font-size: 1.5rem;
  text-transform: capitalize;
}
.keyboard div > div {
  background-color: white;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  padding: 0.5rem;
}
.keyboard div > div:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px black;
}

/*# sourceMappingURL=main.css.map */
