// This file includes variables, mixins, and utility classes needed for my project
body {    
    background-color: $primary-color;
    font: {
        family: 'Work Sans', sans-serif;
        size: 1rem;
    }
}

header {
    h1 {
        color: white;
        letter-spacing: 3rem;
        font-size: 4rem;
        text-transform: uppercase;
        text-shadow: 3px 3px 3px $tertiary-color;
    }
    nav {
        background-color: white;
        width: 100%;
        padding: 2rem;

    }
    nav > ul {
    li > a {
        text-decoration: none;
        color: $text-color;
        font: {
            family: $header-font;
            size: 1.25rem;
            weight: 100;
        }

        &:hover, :active {
            color: $secondary-color;
            text-shadow: 1px 1px 2px grey;
            font: {
                size: 1.35rem;
            }
        }
    }
}

}

h1,h2,h3,h4 {
    color: $text-color;
    font: {
        size: 2.5rem;
        family: 'Signika Negative', sans-serif;
        weight: 600;
    }
}


li {
    font-size: 1.25rem;
}

.about-section {
    border-bottom: solid 2px $primary-color;
    font: {
        size: 1.25rem;
        weight: 200;
    }
    word-spacing: 4px;
    line-height: 1.5;
}

.skills-section {
    border-bottom: solid 2px $primary-color;
}

.skills-list {

    font: {
        size: 1.25rem;
        weight: 200;
    }
    word-spacing: 4px;
    line-height: 1;
    
    details > ul {
        padding-top: 1rem;
    }
}

.button {
    background-color: $primary-color;
    border: thin solid $tertiary-color;
    color: $text-color;
    border-radius: 2rem;
    box-shadow: 4px 4px 4px $primary-color;
    font: {
        size: 1.75rem;
        weight: 700
    }

    &:active {
        box-shadow: none;
    }
}

.display-word { 
    text-align: center;
    padding: 1rem;
    
    font: {
        family: 'Signika Negative', sans-serif;
        size: 2.5rem;
        weight: 800;
    };
    
    text-transform: uppercase;
}

.reset {
    padding: 0.75rem 1.5rem;
    color: darkslateblue;
    font-size: 1.25rem;
    background-color: $primary-color;
    border: thin solid grey;
    box-shadow: 2px 2px 2px darkslateblue;
    border-radius: 5px;
    &:active {
        box-shadow: none;
    }

}