.the-game {
    display: none;
    width: 500px;
    border: 5px solid $tertiary-color;
    @media screen and (max-width: $mobile--breakpoint) {
        width: 350px;
    }
}
.the-man { 
    height: 350px;
    position: relative;
    div {
        position: absolute;
        border: 1px solid $secondary-color;
    }
}

.ground {
    display: none;
    bottom: 50px;
    width: 200px;
    right: 150px;
    @media screen and (max-width: $mobile--breakpoint) {
        right: 60px;
    }
}

.stick {
    display: none;
    height: 250px;
    bottom: 50px;
    right: 150px;
    @media screen and (max-width: $mobile--breakpoint) {
        right: 60px;
    }
}

.hanger {
    display: none;
    top: 46px; 
    right: 150px;
    width: 100px;
    @media screen and (max-width: $mobile--breakpoint) {
        right: 60px;
    }
}

.rope {
    display: none;
    height: 35px;
    top: 46px;
    right: 250px;
    @media screen and (max-width: $mobile--breakpoint) {
        right: 160px;
    }
}

.head {
    display: none;
    z-index: 2;
    top: 80px;
    right: 230px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: white;
    @media screen and (max-width: $mobile--breakpoint) {
        right: 140px;
    }
}

.body {
    display: none;
    top: 100px;
    right: 250px;
    height: 100px;
    @media screen and (max-width: $mobile--breakpoint) {
        right: 160px;
    }
}

.lArm {
    display: none;
    height: 30px;
    top: 130px;
    right: 238px;
    transform: rotate(135deg);
    @media screen and (max-width: $mobile--breakpoint) {
        right: 149px;
    }
}
.rArm {
    display: none;
    height: 30px;
    top: 130px;
    right: 262px;
    transform: rotate(45deg);
    @media screen and (max-width: $mobile--breakpoint) {
        right: 171px;
    }
}
.rFoot {
    display: none;
    height: 30px;
    top: 196px;
    right: 262px;
    transform: rotate(45deg);
    @media screen and (max-width: $mobile--breakpoint) {
        right: 171px;
    }
}
.lFoot {
    display: none;
    height: 30px;
    top: 196px;
    right: 238px;
    transform: rotate(135deg);
    @media screen and (max-width: $mobile--breakpoint) {
        right: 149px;
    }
}

.keyboard {
    font-size: 1.5rem;
    text-transform: capitalize;

    div > div {
        background-color: white;
        height: 25px;
        width: 50px;
        border: 1px solid black;
        border-radius: 5px;
        padding: 0.5rem; 
        box-shadow: 2px 2px 2px black;
        &:hover {
            cursor: pointer;
            background-color: antiquewhite;
            box-shadow: none;
        }
    }
    @media screen and (max-width: $mobile--breakpoint) {
        div > div {
            padding: 0.25rem;
        }
    }
}

.wrong-letters {
   font-size: 1.25rem;;
}

