.the-game {
    display: none;
    border: 5px solid grey;
}
.the-man { 
    background-color: rgb(234, 230, 227);
    height: 350px;
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: 650px ) {
       width: 400px;

    }
    position: relative;
    div {
        position: absolute;
        border: 1px solid black;
    }
}

.ground {
    display: none;
    bottom: 50px;
    width: 200px;
}

.stick {
    display: none;
    height: 250px;
    bottom: 50px;
    left: 400px;
}

.hanger {
    display: none;
    top: 46px; 
    right: 198px;
    width: 100px;
}

.rope {
    display: none;
    height: 35px;
    top: 46px;
}

.head {
    display: none;
    z-index: 2;
    top: 80px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(234, 230, 227);
}

.body {
    display: none;
    top: 100px;
    height: 100px;
}

.lArm {
    display: none;
    height: 40px;
    top: 130px;
    right: 285px;
    transform: rotate(135deg);
}
.rArm {
    display: none;
    height: 40px;
    top: 130px;
    left: 285px;
    transform: rotate(45deg);
}
.rFoot {
    display: none;
    height: 30px;
    top: 195px;
    left: 288px;
    transform: rotate(45deg);
}
.lFoot {
    display: none;
    height: 30px;
    top: 195px;
    right: 288px;
    transform: rotate(135deg);
}

.keyboard {
    font-size: 1.5rem;
    text-transform: capitalize;

    div > div {
        background-color: white;
        height: 20px;
        width: 20px;
        border: 1px solid black;
        padding: 0.5rem; 
        box-shadow: 2px 2px 2px black;
        &:hover {
            cursor: pointer;
            background-color: antiquewhite;
            box-shadow: none;
        }
    }
}

