body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
    margin: 0 32px;
}

header {
    grid-column: 1 / 13;
    grid-row: 1;
}

main {
    grid-column: 1 / 13;
    grid-row: 2;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    grid-column: 1 / 13;
    grid-row: 3;
}

h1, h2, h3 {
    text-align: center;
}

.skills-layout {
    flex-direction: row;
}
