body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
    margin: 0 32px;
}

header {
    min-height: 10vh;
    grid-column: 1 / 13;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    min-height:80vh;
    grid-column: 1 / 13;
    grid-row: 2;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > div {
    display: grid;
    gap: 1rem;
}

footer {
    min-height: 10vh;
    grid-column: 1 / 13;
    grid-row: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3 {
    text-align: center;
}

.skills {
    width: 100vw;
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: 650px ) {
        width: 80vw;
     }
}
.game-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.game-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 600px;
    padding: 16px;

    section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 20px;

    }
    @media screen and (max-width: 650px ) {
        width: 400px;
     }

}
.the-game {
    display: flex;
    flex-direction: column;
}

.keyboard {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    div {
        display: flex;
        justify-content: space-around;
        gap: 3rem;
       
    }
}

.button {
    max-width: 100px;
}